.puzzle {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: 
        "img01 img01 img02 img03"
        "img04 img05 img05 img03"
        "img06 img07 img08 img08"
        "img06 img09 img09 img10 ";
}

#piece01 {
    grid-area: img01;
}

#piece02 {
    grid-area: img02;
}

#piece03 {
    grid-area: img03;
}

#piece04 {
    grid-area: img04;
}

#piece05 {
    grid-area: img05;
}

#piece06 {
    grid-area: img06;
}

#piece07 {
    grid-area: img07;
}

#piece08 {
    grid-area: img08;
}

#piece09 {
    grid-area: img09;
}

#piece10 {
    grid-area: img10;
}